header {
    background-color: white;
    height: 70px;
    width: 100%;
    /* that "solid" makes the border visible (I don't know why) */
    border-bottom: 1px solid;
    border-color: #CCCCCC;
}

object {
    float: left;
    vertical-align: center;
}