body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    /* center horizontally AND stay
    30px from the previous element
    (in the "4-index.html", this file's
    corresponding file, it's the header)*/
    margin: 30px auto;
}